{% load staticfiles %}


<!DOCTYPE html>
<html>
<head>
	<title>anexrussia</title>
	<meta charset="utf-8">
	<meta name="description" >
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/media.css' %}">


</head>
<body>


	<header class="d-flex position-relative align-items-center">

		<div class="logo mr-auto font-weight-bold">
			<a href="/">ANEXRUSSIA</a>
		</div>

		<div class="menu float-right">
			<ul class="d-flex">
				<li><a href="">Сдать жильё</a></li>
				<li><a href="">Помощь</a></li>
			</ul>
		</div>

		<div class="menu text-uppercase float-right">
			<ul class="d-flex">
				<li><a href="">регистрация</a></li>
				<li><a href="">войти</a></li>
			</ul>
		</div>

	</header>

	<section class="catalog">
		<div class="container">
			<div class="row">
				<div class="catalog-search d-flex justify-content-center align-items-center">
					<div class="col-md-10">
						<form class="d-flex" action="">
							<div class="col-md-5">
								<div class="form-input">
									<input type="text" name="place" placeholder="Направление, город, адрес">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-input">
									<input type="text" name="date" placeholder="Прибытие-выезд">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-input">
									<input type="text" name="count" placeholder="Кол-во гостей">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-input">
									<button type="submit">найти</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-3 catalog-filter">
					<div class="filter-restart">
			 			<h5 class="mb-3">Фильтры</h5>

			 			<button>сбросить фильтры</button>
			 		</div>
					<div id="accordion">
						<div class="filter">
							<div class="filter-header" id="headingOne">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Ваш бюджет
									</button>
								</h5>
							</div>

							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
								<div class="filter-body">
									<ul class="mb-3">
										<li>
											<input type="checkbox" id="filter-group-facade-1" value="Шпон (Массив)">
											<label for="filter-group-facade-1">до 2000 Р</label>
										</li>
										<li>
											<input type="checkbox" id="filter-group-facade-2" value="Стекло">
											<label for="filter-group-facade-2">до 3000 Р</label>
										</li>
										<li>
											<input type="checkbox" id="filter-group-facade-3" value="Стекло">
											<label for="filter-group-facade-3">до 4000 Р</label>
										</li>
										<li>
											<input type="checkbox" id="filter-group-facade-4" value="Стекло">
											<label for="filter-group-facade-4">до 5000 Р</label>
										</li>
										<li>
											<input type="checkbox" id="filter-group-facade-5" value="Стекло">
											<label for="filter-group-facade-5">до 6000 Р</label>
										</li>
									</ul>

									<div class="price-filter mb-4">
										<div class="row">
											<div class="col-md-6">
												<div class="form-input">
													<input type="text" name="place" placeholder="от">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-input">
													<input type="text" name="place" placeholder="до">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					 	<div class="filter">

							<div class="filter-header" id="heading2">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
										Звезды отеля
									</button>
								</h5>
							</div>

							<div id="collapse2" class="collapse show" aria-labelledby="heading2">
								<div class="filter-body">
									<ul>
										<li>
											<input type="checkbox" id="filter-group-facade-55" value="Шпон (Массив)">
											<label for="filter-group-facade-55">5 звёзд</label>
										</li>
										<li>
											<input type="checkbox" id="filter-group-facade-22" value="Стекло">
											<label for="filter-group-facade-22">4 звезды</label>
										</li>
										<li>
											<input type="checkbox" id="filter-group-facade-222" value="Стекло">
											<label for="filter-group-facade-222">3 звезды</label>
										</li>
										<li>
											<input type="checkbox" id="filter-group-facade-222" value="Стекло">
											<label for="filter-group-facade-222">2 звезды</label>
										</li>
										<li>
											<input type="checkbox" id="filter-group-facade-244" value="Стекло">
											<label for="filter-group-facade-244">1 звезда</label>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="filter">
							<div class="filter-header" id="heading3">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
										Условия оплаты
									</button>
								</h5>
							</div>

							<div id="collapse3" class="collapse show" aria-labelledby="heading3" data-parent="#accordion">
								<div class="filter-body">
									<ul>
										<li>
											<input type="checkbox" id="filter-group-facade-155" value="Шпон (Массив)">
											<label for="filter-group-facade-155">Оплата сейчас</label>
										</li>
										<li>
											<input type="checkbox" id="filter-group-facade-2551" value="Стекло">
											<label for="filter-group-facade-2551">Оплата в отеле</label>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="filter">
							<div class="filter-header" id="heading3">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
										Тип питания
									</button>
								</h5>
							</div>

							<div id="collapse4" class="collapse show" aria-labelledby="heading3" data-parent="#accordion">
								<div class="filter-body">
									<ul>
										<li>
											<input type="checkbox" id="filter-group-facade-166" value="Шпон (Массив)">
											<label for="filter-group-facade-166">Питание не включено</label>
										</li>
										<li>
											<input type="checkbox" id="filter-group-facade-277" value="Стекло">
											<label for="filter-group-facade-277">Завтрак</label>
										</li>
										<li>
											<input type="checkbox" id="filter-group-facade-199" value="Шпон (Массив)">
											<label for="filter-group-facade-199">Двухразовое питание</label>
										</li>
										<li>
											<input type="checkbox" id="filter-group-facade-267" value="Стекло">
											<label for="filter-group-facade-267">Обед</label>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="filter">
							<div class="filter-header" id="heading3">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
										Условия бронирования
									</button>
								</h5>
							</div>

							<div id="collapse5" class="collapse show" aria-labelledby="heading3" data-parent="#accordion">
								<div class="filter-body">
									<ul>
										<li>
											<input type="checkbox" id="filter-group-facade-1323" value="Шпон (Массив)">
											<label for="filter-group-facade-1323">Можно использовать бонусы</label>
										</li>
										<li>
											<input type="checkbox" id="filter-group-facade-2123" value="Стекло">
											<label for="filter-group-facade-2123">Бронирование карты</label>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9 catalog-items">
					<div class="row">

            {% block content %}
            {% endblock %}

					</div>
				</div>
			</div>
		</div>
		<div class="map">
			<iframe
			  width="600"
			  height="450"
			  frameborder="0" style="border:0"
			  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCbyBaghJhUu7cgWy-kx35ReNZCakeDSaI&q=Space+Needle,Seattle+WA" allowfullscreen>
			</iframe>
		</div>
	</section>

	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>
