{% extends 'hotels/base.html' %}

{% block content %}
            {% for hotel in hotels %}
						<div class="col-xs-12 col-sm-6 col-md-4 catalog-item">
							<div class="img">
								<img src="{{ hotel.pre_image}}">
							</div>
							<div class="catalog-items-text">
								<div class="place text-uppercase">{{ hotel.location}}</div>
								<a href="{% url 'hotel_detail' pk=hotel.pk %}" class="title">{{ hotel.name }}</a>
								<div class="price">{{ hotel.price}}</div>
							</div>
						</div>
            {% endfor %}
{% endblock %}
